<!DOCTYPE html>
<html>
<head>
    <title>TemTem</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>

<script src='js/script.js'></script>

<body class='bg'>
    <div class='head-bar'>
        <span class='head-bar-top'><a href="/">TemTem</a></span>
        <span class="head-bar-text">A site to make studying more fun.</span>
        <div class="buttons">
            <input type="button" value="Sign Up" class='head-sign-up' onclick="window.location.href='/signup'">
            <input type="button" value="Sign In" class='head-sign-in' onclick="window.location.href='/signin'">
        </div>
    </div>
    <div class='container'>
        
    </div>
</body>
</html>