<!DOCTYPE html>
<html>

<head>
    <title>TemTem - Sign In</title>
    <link rel="stylesheet" href="stylesheets/signin.css">
</head>

<script src="js/script.js"></script>

<body>
    <div class='head-bar'>
        <span class='head-bar-top'><a href="/">TemTem</a></span>
        <span class="head-bar-text">A site to make studying more fun.</span>
    </div>
    <div class='container'>
        <div class="center-div">
            <span class='text-head'>Sign In</span>
            <span class='text-sub'>Sign into a TemTem account or <a href='/signup' class='link'>create one</a>.</span>
            <br>
            <br>
            <input type='text' class='center-item input-text' placeholder="Username">
            <br>
            <br>
            <input type='password' class='center-item input-text' placeholder="Password">
            <br>
            <br>
            <input type="button" class="center-item input-button" value="Sign In"></input>
            <div hidden>
                <br>
                <br>
                <div class="separator">Or</div>
                <br>
                <input type="button" class="center-item input-button" value="Sign In With Google"></input>
            </div>
        </div>
    </div>
</body>

</html>