<!DOCTYPE html>
<html>

<head>
    <title>TemTem - Sign Up</title>
    <link rel="stylesheet" href="stylesheets/signup.css">
</head>

<script src="js/account.js"></script>

<body class="bg">
    <div class='head-bar'>
        <span class='head-bar-top'><a href="/">TemTem</a></span>
        <span class="head-bar-text">A site to make studying more fun.</span>
    </div>
    <div class='container'>
        <div class="center-div">
            <span class='text-head'>Sign Up</span>
            <span class='text-sub'>Create a TemTem account or <a href='/signin' class='link'>sign into</a> one.</span>
            <br>
            <br>
            <input type='text' class='center-item input-text' placeholder="Username" id="username">
            <br>
            <br>
            <input type='password' class='center-item input-text' placeholder="Password" id="password">
            <input type="button" class='show-password' value="Show" id="show" onclick="showPass()">
            <br>
            <br>
            <input type="button" class="center-item input-button" value="Sign Up" onclick="createAccount()">
            <div hidden>
                <br>
                <br>
                <div class="separator">Or</div>
                <br>
                <input type="button" class="center-item input-button" value="Sign Up With Google">
            </div>
        </div>
    </div>
</body>

</html>